body {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

.container {
    display: flex;
    width: 100vw;
}

a {
    color: black;
    text-decoration: none;
}

#main-container {
    height: calc(100vh - 70px) ;
    width: 100vw;
}

#header-container {
    position: fixed;
    top: 0;
    height: 40px;
    align-items: center;
    justify-content: center;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#portfolio {
    z-index: -1;
}

#bio {
    margin-left: 10px;
}

#name {
    z-index: -1;
    height: calc(100vh - 70px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vmin;
    text-align: center;
    opacity: 0.1;
    position: absolute;
}

#header {
    display: flex;
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-evenly;
    align-self: flex-end;
}

#body-container {
    align-items: center;
    justify-content: center;
    height: 100%;
}

#headshot {
    display: flex;
    justify-content: center;
    align-items: center;
}

#headshot > img {
    width: 200px;
    height: auto;
}

#footer {
    position: fixed;
    bottom: 0;
    height: 30px;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    font-size: 9px;
}